@charset "UTF-8";
/* reset css */
@import url("https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Noto+Sans+TC:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
section,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
  padding-left: 0;
  line-height: initial;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: 0;
}

.lxgw-wenkai {
  font-family: "LXGW WenKai TC", cursive;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.noto-sans {
  font-family: "Noto Sans TC", "Microsoft JhengHei", "STHeiti", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.vertical {
  writing-mode: vertical-lr;
  font-size: 1.75rem;
}
@media (max-width: 32.25rem) {
  .vertical {
    writing-mode: horizontal-tb;
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(89, 87, 87, 0.75);
  z-index: 4;
  backdrop-filter: blur(0.125rem);
}
.overlay.on-popup {
  z-index: 5;
}
.overlay.on-popup.show {
  display: block;
}

.popup {
  display: none;
  flex-direction: column;
  gap: 1.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5rem 0.25rem 2.5rem 5rem;
  background-color: #ffffff;
  z-index: 5;
  width: calc(100svw - 7.5rem);
}
.popup .action {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  position: absolute;
  top: 1.25rem;
  right: 1.75rem;
  padding: 0.75rem;
  font-family: Apple Chancery, cursive;
  color: #c98931;
  cursor: pointer;
}
.popup .action i {
  width: 2rem;
  height: 2rem;
  font-size: fontsize(24);
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup .popup-container {
  max-height: calc(100dvh - 15rem);
  overflow-y: auto;
  padding-right: 4.25rem;
  position: relative;
}
.popup .popup-container::-webkit-scrollbar-thumb {
  background-color: #dfb883;
  height: 0.5rem;
}
.popup.show {
  display: flex;
}
.popup.teams .popup-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 1.5rem;
}
.popup.teams .popup-container .photo {
  flex: 15rem;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  text-align: center;
}
.popup.teams .popup-container .photo img {
  max-width: 15rem;
}
.popup.teams .popup-container .photo h4 {
  margin-bottom: 1.5rem;
}
.popup.teams .popup-container .desc dl dd {
  margin-bottom: 1.5rem;
}
.popup.teams .popup-container .desc dl dd ul {
  margin: 0;
  list-style-type: disc;
  margin-left: 1.5rem;
}
@media (max-width: 64rem) {
  .popup {
    padding: 4rem 0.25rem 1.5rem 1.5rem;
  }
  .popup .action {
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.5rem;
  }
  .popup .popup-container {
    padding-right: 1.25rem;
  }
  .popup.teams .popup-container .photo {
    flex: 11.25rem;
    flex-shrink: 0;
  }
  .popup.teams .popup-container .photo img {
    max-width: 11.25rem;
  }
  .popup.teams .popup-container .photo h4 {
    line-height: 1.5;
  }
  .popup.teams .popup-container .photo h4 span {
    display: block;
  }
}
@media (max-width: 48rem) {
  .popup.teams .popup-container {
    flex-direction: column;
    align-items: center;
  }
  .popup.teams .popup-container .photo {
    flex: 1;
    width: auto;
    position: relative;
  }
  .popup.teams .popup-container .photo img {
    max-width: 12.5rem;
  }
  .popup.teams .popup-container .photo h4 span {
    display: inline;
  }
}
@media (max-width: 32.25rem) {
  .popup.teams .popup-container {
    word-break: break-all;
  }
}

/* -- Global.scss -- */
/* 反白選取樣式 */
::-moz-selection {
  background-color: #c98931;
  color: #ffffff;
}

::selection {
  background-color: #c98931;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb {
  width: 0.5rem;
  background-color: #c98931;
  border-radius: 0.25rem;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  font-family: "Noto Sans TC", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #f7eddf;
  color: #101c21;
  line-height: 2;
  overflow-x: hidden;
}

.main-logo {
  height: 2.75rem;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: "LXGW WenKai TC", cursive;
  min-width: max-content;
}
@media (max-width: 64rem) {
  h1 {
    font-size: 1.75rem;
  }
}

h2 {
  font-size: 2.25rem;
  font-weight: 700;
  font-family: "LXGW WenKai TC", cursive;
  min-width: max-content;
  text-align: center;
  position: relative;
  margin-bottom: 3.75rem;
}
@media (max-width: 64rem) {
  h2 {
    margin-bottom: 1.25rem;
  }
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "LXGW WenKai TC", cursive;
}
h4 span {
  font-size: 1rem;
  font-weight: regular;
  font-family: "LXGW WenKai TC", cursive;
}

h5 {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "LXGW WenKai TC", cursive;
}
h5 span {
  font-size: 1rem;
  font-weight: regular;
  font-family: "LXGW WenKai TC", cursive;
}

h6 {
  font-size: 1rem;
  font-weight: regular;
  font-family: "LXGW WenKai TC", cursive;
}

.small {
  font-size: 0.875rem;
  font-weight: 400;
}

a {
  color: #18404f;
  transition: color 0.2s;
}
a:hover {
  color: #c98931;
}

ul {
  margin-top: 1.5rem;
  line-height: 2;
}

.container {
  max-width: 75rem;
  margin: auto;
}

button,
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 3rem;
  font-size: 2rem;
  background-color: #c98931;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s;
}
@media (hover: hover) {
  button:hover,
  .btn:hover {
    background-color: #a16e27;
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.75rem 4.5rem;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
header nav {
  display: flex;
  align-items: center;
}
header nav button {
  display: none;
}
header nav .navbar ul {
  margin-top: 0;
  display: flex;
  gap: 3.75rem;
}
header nav .navbar ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  line-height: 1;
}
header nav .navbar ul li a {
  text-decoration: none;
}
header nav .navbar ul li.active::after {
  content: "";
  height: 0.125rem;
  width: 2.5rem;
  background-color: #c98931;
}
header.header-dark {
  background-color: #18404f !important;
}
header.header-dark nav .navbar ul li a {
  color: #ffffff;
  transition: color 0.2s;
}
header.header-dark nav .navbar ul li a:hover {
  color: #c98931;
}
@media (max-width: 64rem) {
  header {
    padding: 0.75rem 1.25rem;
  }
}
@media (max-width: 48rem) {
  header {
    position: fixed;
  }
  header nav button {
    display: block;
    padding: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.75rem;
    width: 2.75rem;
    color: #18404f;
  }
  header nav .navbar {
    overflow: hidden;
    position: fixed;
    top: 4.75rem;
    right: 0;
    left: 0;
    height: 0;
    max-height: 0;
    transition: all 0.2s;
    background-color: #18404f;
    padding: 0 1.25rem;
  }
  header nav .navbar ul {
    justify-content: flex-end;
  }
  header nav.open .navbar {
    height: auto;
    max-height: 18.75rem;
    padding: 0.5rem 1.25rem 1.25rem 1.25rem;
  }
}

#keyvision {
  background-image: url("../images/KV.png");
  background-size: cover;
  background-position: center;
  background-color: #101c21;
  min-height: 100svh;
  height: 60svw;
  width: 100svw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 2.5rem;
}
#keyvision .desc {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 3.75rem 3rem;
  margin-top: 2.5rem;
}
#keyvision .desc p:not(:last-child) {
  margin-bottom: 1.75rem;
}
@media (max-width: 64rem) {
  #keyvision {
    padding: 6.25rem 1.25rem 1.25rem;
    align-items: flex-start;
    background-position: 40% center;
    height: auto;
  }
  #keyvision .desc {
    padding: 1.5rem 1.25rem;
  }
}
@media (max-width: 32.25rem) {
  #keyvision {
    padding-top: 7.5rem;
  }
}

#major {
  padding: 7.5rem 1.25rem;
}
#major .items {
  display: flex;
  justify-content: center;
  gap: 0.875rem;
  flex-wrap: wrap;
  margin-bottom: 7.5rem;
}
#major .items li {
  color: #ffffff;
  flex: 15rem;
  max-width: 15rem;
  height: 11.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
  text-align: center;
  padding: 1.25rem;
}
#major .items li i {
  color: #c98931;
  font-size: 3.75rem;
}
#major .items li:nth-child(odd) {
  background-color: #203841;
}
#major .items li:nth-child(even) {
  background-color: #18404f;
}
#major button {
  margin: auto;
}
@media (max-width: 64rem) {
  #major {
    padding: 3.75rem 1.25rem;
  }
  #major .items li {
    max-width: none;
  }
  #major button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 32.25rem) {
  #major .items {
    gap: 0.5rem;
    margin-bottom: 3.75rem;
  }
  #major .items li {
    flex: calc(50% - 0.25rem);
    height: auto;
    gap: 0.5rem;
    justify-content: center;
  }
  #major .items li i {
    font-size: 3rem;
  }
}

#ourTeam {
  padding: 10rem 1.25rem 6.25rem;
  position: relative;
}
#ourTeam .attorney,
#ourTeam .teams {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
}
#ourTeam .attorney li,
#ourTeam .teams li {
  cursor: pointer;
  padding: 0.75rem;
  transition: background-color 0.2s;
}
#ourTeam .attorney li .info,
#ourTeam .teams li .info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#ourTeam .attorney li .info i,
#ourTeam .teams li .info i {
  color: #c98931;
  margin-top: 0.625rem;
}
@media (hover: hover) {
  #ourTeam .attorney li:hover,
  #ourTeam .teams li:hover {
    background-color: rgba(187, 205, 212, 0.2);
  }
}
#ourTeam .attorney {
  justify-content: center;
}
#ourTeam .attorney li {
  color: #ffffff;
  flex: 1;
  max-width: calc((100% - 9rem) / 4);
}
#ourTeam .attorney li:nth-child(4n), #ourTeam .attorney li:nth-child(4n-1) {
  margin-top: 18.75rem;
  color: #15262c;
}
#ourTeam .teams {
  margin-top: 5rem;
}
#ourTeam .teams li {
  display: flex;
  gap: 0.75rem;
  align-items: flex-end;
  flex: 1;
  max-width: calc(50% - 1.5rem);
  min-height: 14rem;
}
#ourTeam .teams li .photo {
  flex: 12.5rem;
  max-width: 12.5rem;
  height: 12.5rem;
  overflow: hidden;
  border-radius: 31.25rem;
}
#ourTeam .teams li .photo img {
  margin-bottom: -0.625rem;
}
#ourTeam::before {
  content: "";
  position: absolute;
  top: 35svw;
  right: 0;
  left: 0;
  height: 25svw;
  background-color: #18404f;
  z-index: -1;
}
#ourTeam::after {
  content: "";
  position: absolute;
  background-image: url("../images/IMG_9196.jpg");
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.05;
  z-index: -1;
}
@media (max-width: 75rem) {
  #ourTeam::before {
    height: 30svw;
  }
}
@media (max-width: 64rem) {
  #ourTeam::before {
    height: 35svw;
  }
}
@media (max-width: 48rem) {
  #ourTeam .attorney li {
    max-width: calc((100% - 3rem) / 2);
    color: #15262c;
  }
  #ourTeam::before {
    display: none;
  }
}
@media (max-width: 32.25rem) {
  #ourTeam .attorney li {
    max-width: none;
  }
}

footer {
  background-color: #18404f;
  color: #ffffff;
  padding: 2.5rem 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.75rem;
  flex-wrap: wrap;
}
footer .contact {
  display: flex;
  gap: 1.25rem;
  margin: 0;
  flex-wrap: wrap;
}
footer .contact a {
  color: #ffffff;
}
@media (hover: hover) {
  footer .contact a:hover {
    text-decoration: none;
  }
}
footer .contact li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1rem;
  font-size: 0.875rem;
}
footer .contact li i {
  color: #99b1ba;
  font-size: 1.5rem;
}
footer .contact li img {
  width: 1.5rem;
}
footer .contact li:not(:last-child)::after {
  content: "";
  background-color: #c98931;
  display: block;
  height: 0.25rem;
  width: 0.25rem;
  border-radius: 0.25rem;
  margin-left: 0.75rem;
}
@media (max-width: 32.25rem) {
  footer {
    padding: 2rem 1.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
  }
  footer .contact {
    flex-direction: column;
    gap: 0.75rem;
  }
  footer .contact li:not(:last-child)::after {
    display: none;
  }
}
