header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: px(12) px(72);
  display: flex;
  justify-content: space-between;
  z-index: 1;

  nav {
    display: flex;
    align-items: center;

    button {
      display: none;
    }

    .navbar {
      ul {
        margin-top: 0;
        display: flex;
        gap: px(60);

        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: px(8);
          line-height: 1;

          a {
            text-decoration: none;
          }

          &.active {
            &::after {
              content: "";
              height: px(2);
              width: px(40);
              background-color: color(secondary);
            }
          }
        }
      }
    }
  }

  &.header-dark {
    background-color: color(primary) !important;

    nav {
      .navbar {
        ul {
          li {
            a {
              @include a-color(white, secondary);
            }
          }
        }
      }
    }
  }

  @include max-to(pad) {
    padding: px(12) px(20);
  }

  @include max-to(small-pad) {
    position: fixed;

    nav {
      button {
        display: block;
        padding: 0;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        height: px(44);
        width: px(44);
        color: color(primary);
      }

      .navbar {
        overflow: hidden;
        position: fixed;
        top: px(76);
        right: 0;
        left: 0;
        height: 0;
        max-height: 0;
        transition: all 0.2s;
        padding: 0 px(20);

        ul {
          justify-content: flex-end;
        }
      }

      &.open {
        .navbar {
          height: auto;
          max-height: px(300);
          padding: px(8) px(20) px(20) px(20);
        }
      }
    }

    &.header-dark {
      nav {
        button {
          color: color(white);
        }

        .navbar {
          background-color: color(primary) !important;
        }
      }
    }

    &.sticky {
      background-color: color(secondary-100);

      nav {
        .navbar {
          background-color: color(secondary-100);
        }
      }
    }
  }
}

section {
  min-height: calc(100svh - px(120));
  padding: px(120) px(20);
}

#keyvision {
  background-image: url("../images/.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100svh;
  height: 60svw;
  width: 100svw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: px(40);

  .kvSwiper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    min-height: 100svh;
    height: 60svw;
    width: 100svw;
    z-index: -1;

    .swiper-wrapper {
      .swiper-slide {
        background-size: cover;
        background-position: bottom;

        &.mask {
          opacity: 0.8;

          &::after {
            content: "";
            z-index: 1;
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(
              to bottom,
              rgba(color(secondary-100), 0.8) 0%,
              rgba(color(secondary-100), 0.5) 5%,
              rgba(color(secondary-100), 0.1) 15%
            );
          }
        }

        &.slide1 {
          background-image: url("../images/KV.png");
          background-position: center;
        }

        &.slide2 {
          background-image: url("../images/S__142533003.jpg");
        }

        &.slide3 {
          background-image: url("../images/S__142533007.jpg");
        }

        &.slide4 {
          background-image: url("../images/S__142533012.jpg");
        }
      }
    }
  }

  .desc {
    background-color: rgba(color(white), 0.9);
    padding: px(60) px(48);
    margin-top: px(40);

    p:not(:last-child) {
      margin-bottom: px(28);
    }
  }

  @include max-to(pad) {
    padding: px(100) px(20) px(20);
    align-items: flex-start;
    background-position: 40% center;
    height: auto;

    .desc {
      padding: px(24) px(20);
    }
  }

  @include max-to(mobile) {
    padding-top: px(120);
  }
}

#major {
  .items {
    display: flex;
    justify-content: center;
    gap: px(14);
    flex-wrap: wrap;
    margin-bottom: px(120);

    li {
      color: color(white);
      flex: px(240);
      max-width: px(240);
      height: px(180);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: px(12);
      text-align: center;
      padding: px(20);

      i {
        color: color(secondary);
        font-size: px(60);
      }

      &:nth-child(odd) {
        background-color: color(primary-700);
      }

      &:nth-child(even) {
        background-color: color(primary);
      }
    }
  }

  button {
    margin: auto;
  }

  .bottom-info {
    margin-top: px(100);
    text-align: center;
  }

  @include max-to(pad) {
    padding: px(60) px(20);

    .items {
      li {
        max-width: none;
      }
    }

    button {
      padding: px(16) px(32);
      font-size: px(24);
    }
  }

  @include max-to(mobile) {
    .items {
      gap: px(8);
      margin-bottom: px(60);

      li {
        flex: calc(50% - px(4));
        height: auto;
        gap: px(8);
        justify-content: center;

        i {
          font-size: px(48);
        }
      }
    }

    .bottom-info {
      margin-top: px(60);
    }
  }
}

#ourTeam {
  padding: px(160) px(20) px(100);
  position: relative;

  .attorney,
  .teams,
  .consultant {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: px(48);

    li {
      cursor: pointer;
      padding: px(12);
      transition: background-color 0.2s;

      .info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        i {
          color: color(secondary);
          margin-top: px(10);
        }
      }

      @include hover {
        background-color: rgba(color(primary-100), 0.2);
      }
    }
  }

  .attorney {
    flex-wrap: wrap;
    justify-content: flex-start;

    li {
      color: color(white);
      width: px(300);
      max-width: px(300);
    }

    &:nth-child(3) {
      justify-content: flex-end;
      margin-top: px(60);

      li {
        color: color(primary-800);
      }
    }
  }

  .teams {
    margin-top: px(60);
    margin-bottom: px(160);

    li {
      color: color(primary-800);
      max-width: calc((100% - px(48) * 3) / 4);
    }
  }

  .consultant {
    align-items: stretch;
    gap: px(60);

    li {
      display: flex;
      gap: px(12);
      background-color: color(secondary);
      color: color(white);
      width: px(240);
      max-width: calc((100% - px(60) * 2) / 3);

      div {
        flex-grow: 1;
      }

      @include hover {
        background-color: color(secondary-600);
      }

      i {
        margin-top: px(8);
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 40svw;
    right: 0;
    left: 0;
    height: 30svw;
    background-color: color(primary);
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../images/IMG_9196.jpg");
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.05;
    z-index: -1;
  }

  @include max-to(laptop) {
    &::before {
      top: 40svw;
      height: 40svw;
    }
  }

  @include max-to(pad) {
    .attorney {
      justify-content: center !important;
    }

    .consultant {
      flex-direction: column;
      align-items: center;
      gap: px(32);
    }

    &::before {
      height: 60svw;
    }
  }

  @include max-to(small-pad) {
    .attorney,
    .teams {
      gap: px(16);

      li {
        max-width: calc((100% - px(16)) / 2);
      }
    }

    .attorney {
      flex-wrap: wrap;

      li {
        flex: auto;
        color: color(primary-800);
        margin-top: 0 !important;
      }
    }

    .consultant {
      li {
        max-width: 100%;
      }
    }

    &::before {
      display: none;
    }
  }

  @include max-to(mobile) {
    /*
    .attorney {
      li {
        max-width: none;
      }
    }

    .teams {
      flex-direction: column;

      li {
        flex: 100%;
        width: 100%;
        max-width: none;
      }
    }
    */
  }
}

#news,
#legalColumn {
  h1 {
    text-align: center;
    color: color(secondary);
  }
}

#contact {
  .map-iframe {
    margin-top: px(60);
    text-align: center;

    iframe {
      width: px(992);
      height: px(600);
      max-width: calc(100svw - px(64));
      max-height: calc(100svh - px(40));
      border: none;
    }
  }

  .contact-desc {
    max-width: px(992);
    margin: px(60) auto;
    display: flex;
    flex-direction: column;
    gap: px(36);

    > li {
      display: flex;
      flex-direction: column;
      gap: px(16);

      h6 {
        font-family: "Noto Sans TC", "Microsoft JhengHei", "STHeiti", sans-serif;
        font-size: px(18);
        font-weight: Medium;
        line-height: 1;
      }

      ol {
        list-style-type: decimal;
        margin-left: px(32);
      }

      ul {
        margin-top: 0;
        margin-bottom: px(8);
        list-style-type: disc;
        margin-left: px(20);

        li {
          line-height: 1.5;
        }
      }
    }
  }
}

footer {
  background-color: color(primary);
  color: color(white);
  padding: px(40) px(72);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: px(28);
  flex-wrap: wrap;

  .contact {
    a {
      color: color(white);

      @include hover {
        text-decoration: none;
      }
    }
  }

  @include max-to(mobile) {
    padding: px(32) px(20);
    flex-direction: column;
    align-items: flex-start;
    gap: px(40);
  }
}
