header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: px(12) px(72);
  display: flex;
  justify-content: space-between;
  z-index: 1;

  nav {
    display: flex;
    align-items: center;

    button {
      display: none;
    }

    .navbar {
      ul {
        margin-top: 0;
        display: flex;
        gap: px(60);

        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: px(8);
          line-height: 1;

          a {
            text-decoration: none;
          }

          &.active {
            &::after {
              content: "";
              height: px(2);
              width: px(40);
              background-color: color(secondary);
            }
          }
        }
      }
    }
  }

  &.header-dark {
    background-color: color(primary);

    nav {
      ul {
        li {
          a {
            @include a-color(white, secondary);
          }
        }
      }
    }
  }

  @include max-to(pad) {
    padding: px(12) px(20);
  }

  @include max-to(small-pad) {
    position: fixed;

    nav {
      button {
        display: block;
        padding: 0;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        height: px(44);
        width: px(44);
      }

      .navbar {
        overflow: hidden;
        position: fixed;
        top: px(76);
        right: 0;
        left: 0;
        height: 0;
        max-height: 0;
        transition: all 0.2s;
        background-color: color(primary);
        padding: 0 px(20);

        ul {
          justify-content: flex-end;
        }
      }

      &.open {
        .navbar {
          height: auto;
          max-height: px(300);
          padding: px(8) px(20) px(20) px(20);
        }
      }
    }
  }
}

#keyvision {
  background-image: url("../images/KV.png");
  background-size: cover;
  background-position: center;
  background-color: color(primary-850);
  min-height: 100svh;
  height: 60svw;
  width: 100svw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: px(40);

  .desc {
    background-color: rgba(color(white), 0.9);
    padding: px(60) px(48);
    margin-top: px(40);

    p:not(:last-child) {
      margin-bottom: px(28);
    }
  }

  @include max-to(pad) {
    padding: px(100) px(20) px(20);
    align-items: flex-start;
    background-position: 40% center;
    height: auto;

    .desc {
      padding: px(24) px(20);
    }
  }
}

#major {
  padding: px(120) px(20);

  .items {
    display: flex;
    justify-content: center;
    gap: px(14);
    flex-wrap: wrap;
    margin-bottom: px(120);

    li {
      color: color(white);
      flex: px(240);
      max-width: px(240);
      height: px(180);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: px(12);
      text-align: center;
      padding: px(20);

      i {
        color: color(secondary);
        font-size: px(60);
      }

      &:nth-child(odd) {
        background-color: color(primary-700);
      }

      &:nth-child(even) {
        background-color: color(primary);
      }
    }
  }

  button {
    margin: auto;
  }

  @include max-to(pad) {
    padding: px(60) px(20);

    .items {
      li {
        max-width: none;
      }
    }

    button {
      padding: px(16) px(32);
      font-size: px(24);
    }
  }

  @include max-to(mobile) {
    .items {
      gap: px(8);
      margin-bottom: px(60);

      li {
        flex: calc(50% - px(4));
        height: auto;
        gap: px(8);
        justify-content: center;

        i {
          font-size: px(48);
        }
      }
    }
  }
}

#ourTeam {
  padding: px(160) px(20) px(100);
  position: relative;

  .attorney,
  .teams {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: px(48);

    li {
      cursor: pointer;
      padding: px(12);
      transition: background-color 0.2s;

      .info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        i {
          color: color(secondary);
          margin-top: px(10);
        }
      }

      @include hover {
        background-color: rgba(color(primary-100), 0.2);
      }
    }
  }

  .attorney {
    justify-content: center;

    li {
      color: color(white);
      flex: 1;
      max-width: calc((100% - px(48) * 3) / 4);
      &:nth-child(4n),
      &:nth-child(4n-1) {
        margin-top: px(300);
        color: color(primary-800);
      }
    }
  }

  .teams {
    margin-top: px(80);

    li {
      display: flex;
      gap: px(12);
      align-items: flex-end;
      flex: 1;
      max-width: calc(50% - px(24));
      min-height: px(224);

      .photo {
        flex: px(200);
        max-width: px(200);
        height: px(200);
        overflow: hidden;
        border-radius: px(500);

        img {
          margin-bottom: px(-10);
        }
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 35svw;
    right: 0;
    left: 0;
    height: 25svw;
    background-color: color(primary);
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../images/IMG_9196.jpg");
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.05;
    z-index: -1;
  }

  @include max-to(laptop) {
    &::before {
      height: 30svw;
    }
  }

  @include max-to(pad) {
    &::before {
      height: 35svw;
    }
  }

  @include max-to(small-pad) {
    .attorney {
      li {
        max-width: calc((100% - px(48)) / 2);
        color: color(primary-800);
      }
    }

    &::before {
      display: none;
    }
  }

  @include max-to(mobile) {
    .attorney {
      li {
        max-width: none;
      }
    }
  }
}

footer {
  background-color: color(primary);
  color: color(white);
  padding: px(40) px(72);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: px(28);
  flex-wrap: wrap;

  .contact {
    display: flex;
    gap: px(20);
    margin: 0;
    flex-wrap: wrap;

    a {
      color: color(white);

      @include hover {
        text-decoration: none;
      }
    }

    li {
      display: flex;
      align-items: center;
      gap: px(8);
      line-height: px(16);
      font-size: px(14);

      i {
        color: color(primary-200);
        font-size: px(24);
      }

      img {
        width: px(24);
      }

      &:not(:last-child) {
        &::after {
          content: "";
          background-color: color(secondary);
          display: block;
          height: px(4);
          width: px(4);
          border-radius: px(4);
          margin-left: px(12);
        }
      }
    }
  }

  @include max-to(mobile) {
    padding: px(32) px(20);
    flex-direction: column;
    align-items: flex-start;
    gap: px(40);

    .contact {
      flex-direction: column;
      gap: px(12);

      li {
        &:not(:last-child) {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}
